@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




.conteneur {
  
  display: grid; 
  grid-template-columns:  repeat(3 ,1fr);
  grid-gap: 10px;

 
}

.conteneur > div {
  height: 250px;
  background-image: url('./img/Advisory.jpg');
}

 .items{
   margin:5px;
 } 



 .grid {
  display: grid;
  border: 2px blue solid;
  /* height: 500px;
  width: 500px; */
  grid-template: repeat(4, 1fr 2fr) / repeat(4, 3fr 2fr);
  grid-gap: 5px;
}

.a {
  grid-area: 5 / 1 / span 2 / span 2;
}

.b {
  grid-area: 2 / 2 / span 3 / span 6;
}

.c {
  grid-area: 6 / 8 / span 3 / span 1;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}

/* .container { 
  height:400vh; 
  display: grid; 
  grid-template-rows: 200px 1fr 100px 100px 300px; 
  grid-template-columns: 25% 25% 25% 2; 
}  */
.img1 { 
  
  grid-column-start:1; 
  grid-column-end:5; 
  grid-row-start:9; 
  grid-row-end:2; 
} 
.img2 { 
  
  grid-column-start:1; 
  grid-column-end:5; 
  grid-row-start:1; 
  grid-row-end:2; 
} 
.img3 { 
  
  grid-column-start:1; 
  grid-column-end:5; 
  grid-row-start:1; 
  grid-row-end:2; 
} 
.img4 { 
  
  grid-column-start:1; 
  grid-column-end:4; 
  grid-row-start:2; 
  grid-row-end:3; 
} 
.img5 { 
 
  grid-column-start:4; 
  grid-column-end:5; 
  grid-row-start:2; 
  grid-row-end:3; 
} 
.img6 { 
 
  grid-column-start:1; 
  grid-column-end:5; 
  grid-row-start:3; 
  grid-row-end:4; 
}